<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>giovanni-fetchMeeting</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>49773CBE-25D4-4686-9F24-4ACA7DE50CA4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>78F49374-EF42-4A4A-BC17-9C79EBA332D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>78F49374-EF42-4A4A-BC17-9C79EBA332D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AA4A967D-F54D-4538-B9AE-6FAFF11876FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>giovanni</string>
	<key>description</key>
	<string>A workflow to fetch Outlook meeting details</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>fetch meeting details</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>meetingdetails</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>please wait until I retrieve meeting details</string>
				<key>script</key>
				<string>export PATH=/opt/homebrew/bin:/usr/local/bin:$PATH
export PYTHONPATH="$PWD/lib"
python3 fetchMeetingDetails.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>fetch meeting details</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>78F49374-EF42-4A4A-BC17-9C79EBA332D4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>46</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>M</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>49773CBE-25D4-4686-9F24-4ACA7DE50CA4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>AA4A967D-F54D-4538-B9AE-6FAFF11876FC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>A workflow to grab event details from your Outlook calendar. Set the time interval in `Workflow configuration`, e.g: 0 will show concurrent events, 10 events that will be concurrent in 10 min etc. 

Actioning an event will copy to clipoboard in Markdown format


![](screenshot.png)</string>
	<key>uidata</key>
	<dict>
		<key>49773CBE-25D4-4686-9F24-4ACA7DE50CA4</key>
		<dict>
			<key>xpos</key>
			<real>385</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>78F49374-EF42-4A4A-BC17-9C79EBA332D4</key>
		<dict>
			<key>xpos</key>
			<real>605</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>AA4A967D-F54D-4538-B9AE-6FAFF11876FC</key>
		<dict>
			<key>xpos</key>
			<real>870</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>10</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>time (in minutes) by which to extend the event search from now</string>
			<key>label</key>
			<string>Time Interval (minutes)</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>TIME_INTERVAL</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1</string>
	<key>webaddress</key>
	<string>https://github.com/giovannicoppola/fetchMeetingDetails</string>
</dict>
</plist>
